# TS_HOSTNAME=vprouter # Device name as appears in Tailscale console, defaults to 'vprouter'
TS_AUTHKEY=tskey-your-tailscale-key # Get a key here: https://login.tailscale.com/admin/settings/keys
WIREGUARD_PRIVATEKEY=your-private-wireguard-key
WIREGUARD_PEERKEY=your-peer-public-key
WIREGUARD_ADDRESS=your-wireguard-address
# WIREGUARD_ALLOWEDIPS=0.0.0.0/0 # Optional, defaults to 0.0.0.0/0
WIREGUARD_ENDPOINT=your-peer-endpoint-address # Format address:port, e.g. 192.168.0.2:51820

# VPR_DEBUG = true # Optional, if false, suppress tailscale logs
