TS_AUTHKEY=tskey-your-tailscale-key # Get a key here: https://login.tailscale.com/admin/settings/keys
WIREGUARD_PRIVATEKEY=
WIREGUARD_PEERKEY=
WIREGUARD_ADDRESS=
WIREGUARD_ALLOWEDIPS=
WIREGUARD_ENDPOINT=
